doctype html
html
	head
		title Sudo Soldiers - University of Washington

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800")
		link(rel="stylesheet", href="public/css/bootstrap.min.css")
		link(rel="stylesheet", href="public/css/style.css")

	body
		div.bg
		div.container
			div.jumbotron
				h1.title Sudo Soldiers

				p.lead.msg Learn. Make. Connect.
				div.btn-group.btn-group-lg
					a.btn.btn-success.custom(role="button", href="http://eepurl.com/Md0eX") Mailing List
					a.btn.btn-primary.custom(role="button", href="https://www.facebook.com/groups/uwhackers/") FB Group
			div.us
				p Sudo Soldiers is a registered RSO at the University of Washington. We exist to cultivate a community of makers who express their creativity through technology. We help turn ideas into projects, to power your vision of tomorrow. 
			div.footer.container
					p Website by 
						a(href="http://www.goel.im") Karan Goel. Image by 
						a(href="http://www.flickr.com/photos/48126477@N05/7186476574/") Matthew Pearce
		//- script(href="public/js/bootstrap.min.js")
