body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #eee;
}

.bg {
	content: "";
	z-index: -1;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../images/bg2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
}

a {
	color: #eee;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	outline: 0;
	color: #eee;
	text-decoration: none;
}

@media (min-width: 320px) {
	.container {
		max-width: 600px;
	}
}

.container {
	text-align: center;
}

.jumbotron {
	transition: background 0.3s ease;
	border-left: 10px solid rgba(0, 0, 0, 0.6);
	border-right: 10px solid rgba(0, 0, 0, 0.6);
}

.container .jumbotron {
	background: rgba(0, 0, 0, 0.55);
	margin: 60px auto;
	text-align: center;
}

.jumbotron:hover {
	background: rgba(0, 0, 0, 0.65);
	transition: background 0.3s ease;
}

h1.title {
	font-size: 2.9em;
	font-weight: 400;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.33);
}

p.lead.msg {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.33);
}

.btn-group.btn-group-lg {
	margin-top: 20px;
}

a.btn.custom {
	border-radius: 0px;
	color: #eee;
}

.us {
	border-left: 10px solid rgba(0, 0, 0, 0.6);
	border-right: 10px solid rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.55);
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	padding: 1em;
	margin: 0 auto 20px;
}

.footer {
	text-align: center;
	margin: 0px;
}

.footer p, .footer a {
	color: rgba(255, 255, 255, 0.7);
}
