body {
	font-family: 'Open Sans', Helvetica, Helvetica Nue, Arial, sans-serif;
	color: #eee;
}

.bg {
	content: "";
	z-index: -1;
	position: absolute;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg2.jpg");
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg2.jpg");
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg2.jpg");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg2.jpg");
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/bg2.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
}

a {
	color: #eee;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	outline: 0;
	color: #eee;
	text-decoration: none;
}

@media (min-width: 320px) {
	.container {
		max-width: 550px;
	}
}

.container {
	text-align: center;
}

.jumbotron {
	transition: background 0.3s ease;
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.container .jumbotron {
	background: rgba(0, 0, 0, 0.25);
	margin: 90px auto;
	text-align: center;
}

.jumbotron:hover {
	background: rgba(0, 0, 0, 0.29);
	transition: background 0.3s ease;
}

h1.title {
	font-size: 2em;
	font-weight: 300;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.33);
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 40px;
}

p.lead.msg {
	font-size: 0.9em;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.33);
}

.btn-group.btn-group-lg {
	margin-top: 20px;
}

a.btn.custom {
	border-radius: 0px;
	color: #eee;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.us {
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	border-right: 1px solid rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 1em;
	margin: 0 auto 20px;
}

.footer {
	text-align: center;
	margin: 0px;
}

.footer p, .footer a {
	color: rgba(255, 255, 255, 0.5);
}